@mixin mulish-300 {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 300;
}

@mixin mulish-400 {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin mulish-700 {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
}
