@import "../../ScssComponent/variables";
@import "../../ScssComponent/mixins";

.footer {
  width: 100%;
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 5rem 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;

    @media (max-width: 650px) {
      flex-direction: column;
    }

    &--about {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      max-width: 39rem;
      width: 100%;
      margin-right: 4rem;

      @media (max-width: 650px) {
        margin-bottom: 5rem;
        margin-right: 0;
        align-items: center;
      }

      .about-logo {
        display: flex;
        margin-bottom: 2rem;

        &-photo {
          @include mulish-700;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 4.1rem;
          height: 4.1rem;
          font-size: 2.6rem;
          text-transform: uppercase;
          border-radius: 50%;
          background-color: #fff;
          color: $text-color;
          margin-right: 1.2rem;

          @media (max-width: 1000px) {
            font-size: 2rem;
          }
        }

        &-title {
          @include mulish-700;
          font-size: 2.4rem;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $text-white;

          @media (max-width: 1000px) {
            font-size: 2rem;
          }
        }
      }

      &-desc {
        @include mulish-300;
        font-size: 1.8rem;
        margin-bottom: 3rem;
        color: $text-white;

        @media (max-width: 1000px) {
          font-size: 1.5rem;
        }

        @media (max-width: 500px) {
          text-align: center;
        }
      }

      &-company {
        @include mulish-300;
        font-size: 1.6rem;
        color: $text-white;

        @media (max-width: 1000px) {
          font-size: 1.3rem;
        }
      }
    }

    &--list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 45rem;
      width: 100%;

      @media (max-width: 500px) {
        justify-content: center;
        flex-wrap: wrap;
      }

      &-list1,
      &-list2,
      &-list3 {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &:not(:last-child) {
          margin-right: 3rem;
        }

        h3 {
          @include mulish-700;
          font-size: 2rem;
          margin-bottom: 3rem;
          color: $text-white;

          @media (max-width: 1000px) {
            font-size: 1.6rem;
          }
        }

        a {
          @include mulish-300;
          font-size: 1.8rem;
          color: $text-white;
          text-decoration: none;

          @media (max-width: 1000px) {
            font-size: 1.5rem;
          }

          &:not(:last-child) {
            margin-bottom: 1.5rem;
          }
        }
      }
    }
  }

  &__wraper {
    position: absolute;
    left: 1%;
    bottom: 1%;
    display: grid;
    grid-template-columns: repeat(4, 0.7rem);
    grid-template-rows: repeat(4, 0.7rem);
    grid-gap: 1.5rem;

    & > div {
      background-color: #ffffff;
      opacity: 0.5;
      border-radius: 50%;
    }
  }
}
