* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a:hover,
button:hover {
  cursor: pointer;
}

.container {
  max-width: 144rem;
  width: 100%;
  margin: auto;
  user-select: none;
}
